body {
    transition: all ease-in-out 1s;
}

body .card {
    transition: all ease-in-out 0.5s;

}


header, footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
header {
    height: 20vh;
}

main {
    min-height: 70vh;
}
footer {
    height: 10vh;
}

span {
    padding: 5px 15px;
    font-weight: 500;
    border-radius: 5px;
    margin: 5px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 0px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #198754;
}

input:focus + .slider {
    box-shadow: 0 0 1px #198754;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

  /* Rounded sliders */
.slider.round {
    border-radius: 40px;
}

.slider.round:before {
    border-radius: 50%;
}

.error {
    background-color: rgb(193, 26, 26);
    padding: 5px;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
}

.dark {
    background-color: rgb(34, 34, 34);
    transition: all ease-in-out 0.5s;

}
.dark .card {
    background-color: black;
    color: white;
    transition: all ease-in-out 0.5s;

}

.dark .form-control {
    background-color: rgb(52, 51, 51);
    color: white;
}

.dark .alert {
    background-color: black;
    box-shadow: 2px 2px 5px #ccc;
    color: white;
}